.nav-bar {
    border-bottom: 2px solid black;
}

.list {
    text-decoration-style: dotted;
    padding-right: 12em;
}

.responsive-img{
    width: 250px;
    height: 300px;
}

.nav-wrapper {
    padding-bottom: 5px;
}

.signIn {
    background-color: indigo;
}

.card-panel {
    background-color: black;
    color: honeydew;
}
