<template name="ApplicationLayout">

    <head>
        <title>CHI-CHAT Jesse Chi-Su</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        {{> nav}}
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        {{#if currentUser}} {{> signedIn}} {{else}} {{> signIn}} {{/if}}


        <footer>
            @Jesse Chi-Su
        </footer>
    </body>

</template>

<template name="signIn">
    <div class="container signIn">
        <div class="row">
            <div class="card-panel hoverable">
                <h1>Welcome To Chi-Chat</h1>
                <p>Hello, and welcome to Chi-Chat, an especially-designed website to communicate with various other configurations of lifeforms. Find friends, create chats, and explore the vast but defined world which is Chi-Chat. Founded by App Academy student, Jesse Chi-Su-Gutierrez, this website has served the utmost purpose to allow people from vast regions of space and time the speak and send cat iamges to one another.</p>
                <br />
                <p>Now, if you have never been on this wensite, or any other website on that matter, simply SIGN IN to use this wonderful site. Simply go to the corner of the screen and, using a new username and password, join in on the craze which is Chi-Chat!</p>
            </div>
        </div>
    </div>
</template>

<template name="signedIn" class="signedIn">
    <div class="container">
        <div class="row">

            <div class="col s5">
                <center>
                    {{> first}}
                </center>
            </div>

            <div class="col s7">
                <div class="col s4">{{> chat}}</div>
                <div class="col s8">{{> friends}}</div>
            </div>
        </div>
    </div>
</template>

<template name="nav">
    <nav class="nav-bar">


        <div class="nav-wrapper indigo darker-4">
            <img src="chi-chat-logo.png" class="responsive-img">
            <ul id="nav-mobile" class="right hide-on-med-and-down list">
                <li><a href="/search"><i class="material-icons left">search</i>Find Friends</a></li>
                {{> loginButtons}} {{> yield}}
            </ul>
        </div>
    </nav>
</template>

<template name="first">
    <ul>
        {{#each posts}}
        <li class="left-align">{{username}} : {{name}} | {{date}}</li>
        {{/each}}
    </ul>

    <form class="post-form">
        <div class="row">
            <i class="material-icons col s1">play_arrow</i>
            <input class="col s11" type="text" name="userpost">
        </div>
        <input type="submit">
    </form>
</template>

<template name="chat">

</template>

<template name="friends">
    <ul class="collection with-header">
        <li class="collection-header center">
            <h4>Friends</h4>
        </li>
        {{#if friends}} {{#each friends}}
        <li class="collection-item">
            <div class="center">
                <a href="#">{{username}}</a>
            </div>
        </li>
        {{/each}} {{/if}}
    </ul>
</template>